/* Layout */

.container {
    width: 100%;
    display: grid;
    grid-template: repeat(6, 100px) / repeat(12, 1fr);
    grid-gap: 20px;
}

.title_container {
    grid-column: 1 / -1;
    grid-row: 1 / span 2;
}

.daily_deals_container {
    display: grid;
    grid-template: repeat(4, 100px) / repeat(12, 1fr);
    grid-row: 3;
}

#daily_deals_title {
    grid-column: 1/ -1;
    grid-row: 1;
}

.new_products_container {
    display: grid;
    grid-template: repeat(5, 100px) / repeat(9, 1fr);
    grid-row: 7;
}
.new_products_container h3 {
    grid-column: 1 / -1;
    grid-row: 1;
}

.new_rpg_container {
    grid-column: 1 / 4;
    grid-row: 2;
}

.new_bg_container {
    grid-column: 4 / 8;
    grid-row: 2;
}

.new_cg_container {
    grid-column: 7 / 10;
    grid-row: 2;
}

.category_container {
    grid-column: 1 / span 2;
}

.product_image_container {
    grid-column: 3 / span 3;
}

.product_purchase_container {
    grid-column: 9 / span 2;
}

.product_description_container {
    grid-column: 3 / span 9;
    grid-row: 6;
}

.about_container {
    grid-column: 1 / span 3;
}

.customer_service_container {
    grid-column: 5 / span 3;
}

.store_policies_container {
    grid-column: 9 / span 3;
}

.footer_container {
    grid-column: 1 / -1;
    grid-row: 12 / span 3;
}

/* Formating */

body {
    background-color: white;
    margin: 0 40px;
    text-align: center;
}

h1, h2, h3, h4, h5 {
    font-family: "Raleway", sans-serif;
    text-align: center;
}

h2, h3, h5 {
    color: #1F567A;
}

p, li {
    font-family: "Roboto Slab", serif;
    font-size: 16px;
    text-align: center;
}

img {
    width: 200px;
    height: 200px;    
}

.title_bar {
    color: #F1F3F8;
    background-color: #1F567A;
    width: 100%;
}

.title_bar h1 {
    font-size: 48px;
}

.title_bar h4 {
    font-size: 24px;
}

#daily_deals_title h3 {
    font-size: 24px;
}

.new_products, #daily_deals_title {
    font-size: 24px;
}

.category_column p {
    text-align: left;
    font-size: 12px;
    color: #1F567A;
}

.product_image img {
    width: 300px;
    height: 300px;
}

.product_purchase {
    color: #1F567A;
    border: 2px solid #1F567A;
    line-height: 50%;
}

.product_description #product_title {
    font-weight: bold;
    font-size: 16px;
}

.product_description p {
    text-align: left;
    font-size: 14px;
}

.about p {
    text-align: left;
}

.customer_service {
    text-align: left;
}

.store_policies li {
    text-align: left;
    font-size: 14px;
}

.footer_links{
    height: 96px;
    background-color: #1F567A;
    word-spacing: 10px;
}

.footer_links a {
    font-size: 24px;
    color:#F1F3F8;
}

/* Screen Size Adjustments */

@media only screen and (min-width: 769px) and (max-width: 1200px) {
    .container {
        width: 75%;
        grid-gap: 20px;
    }

    .daily_deals_container #daily_deal_3, #daily_deal_4, #daily_deal_7, #daily_deal_8, #daily_deal_11, #daily_deal_12 {
        display: none;
    }

    .new_products_container #new_rpg_product_3, #new_bg_product_3, #new_cg_product_3 {
        display: none;
    }

    .new_products_container {
        display: grid;
        grid-template: repeat(5, 100px) / repeat(6, 1fr);
        grid-row: 7;
    }

    .new_products_container h3 {
        grid-column: 1 / -1;
        grid-row: 1;
    }
    
    .new_rpg_container {
        grid-column: 1 / 3;
        grid-row: 2;
    }
    
    .new_bg_container {
        grid-column: 3 / 5;
        grid-row: 2;
    }
    
    .new_cg_container {
        grid-column: 5 / 7;
        grid-row: 2;
    }
    
    .product_image_container img {
        height: 200px;
        width: 200px;
    }
    .product_description_container {
        grid-column: 3 / span 9;
        grid-row: 5;
    }

    .about_container {
        grid-column: 1 / span 4;
    }
    
    .customer_service_container {
        grid-column: 5 / span 4;
    }
    
    .store_policies_container {
        grid-column: 9 / span 4;
    }

    .store_policies li {
        font-size: 12px;
    }
}

@media only screen and (min-width: 321px) and (max-width: 768px) {
    .container {
        width: 50%;
        display: grid;
        grid-template: repeat(6, 100px) / repeat(6, 1fr);
        grid-gap: 20px;
    }

    .daily_deals_container #daily_deal_2, #daily_deal_3, #daily_deal_4, #daily_deal_6, #daily_deal_7, #daily_deal_8, #daily_deal_10, #daily_deal_11, #daily_deal_12 {
        display: none;
    }

    .new_products_container #new_rpg_product_2, #new_rpg_product_3, #new_bg_product_2, #new_bg_product_3, #new_cg_product_2, #new_cg_product_3 {
        display: none;
    }

    .new_products_container {
        display: grid;
        grid-template: repeat(5, 100px) / repeat(3, 1fr);
        grid-row: 7;
    }

    .new_products_container h3 {
        grid-column: 1 / -1;
        grid-row: 1;
    }
    
    .new_rpg_container {
        grid-column: 1 ;
        grid-row: 2;
    }
    
    .new_bg_container {
        grid-column: 2;
        grid-row: 2;
    }
    
    .new_cg_container {
        grid-column: 3;
        grid-row: 2;
    }

    .store_policies li {
        font-size: 12px;
    }
}

@media only screen and (min-width: 1px) and (max-width: 320px) {
    .container {
        width: 25%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(6, 200px);
        grid-gap: 20px;
    }

    .daily_deals_container #daily_deal_2, #daily_deal_3, #daily_deal_4, #daily_deal_5, #daily_deal_6, #daily_deal_7, #daily_deal_8, #daily_deal_9, #daily_deal_10, #daily_deal_11 {
        display: none;
    }

    .new_products_container #new_rpg_product_2, #new_rpg_product_3, #new_bg_product_2, #new_bg_product_3, #new_cg_product_2, #new_cg_product_3 {
        display: none;
    }

    
}