/* Grid Classes */

.container {
    width: 1920px;
    display: grid;
    grid-template: repeat(6, 100px) / repeat(12, 1fr);
    grid-gap: 20px;
}

.title_container {
    grid-column: 1 / -1;
    grid-row: 1 / span 2;
}

.daily_deals_container {
    display: grid;
    grid-template: repeat(4, 100px) / repeat(12, 1fr);
    grid-row: 3;
}

#daily_deals_title {
    grid-column: 1/ -1;
    grid-row: 1;
}

.new_products_container {
    display: grid;
    grid-template: repeat(4, 100px) / repeat(9, 1fr);
    grid-row: 7;
}
.new_products_container h3 {
    grid-column: 1 / -1;
    grid-row: 1;
}

.new_rpg_container {
    grid-column: 1 / 4;
    grid-row: 2;
}

.new_bg_container {
    grid-column: 4 / 8;
    grid-row: 2;
}

.new_cg_container {
    grid-column: 7 / 10;
    grid-row: 2;
}

.top_selling_products_container {
    display: grid;
    grid-template-areas: repeat(4, 200px) / repeat(12, 1fr);
    grid-column: 1 / -1;
    grid-row: 2;
}

.footer_container {
    grid-column: 1 / -1;
    grid-row: 12 / span 3;
}

/* Formating Classes */

body {
    background-color: white;
    margin: 0 40px;
    text-align: center;
}

h1, h2, h3, h4, h5 {
    font-family: "Raleway", sans-serif;
    text-align: center;
}

h2, h3, h5 {
    color: #1F567A;
}

p {
    font-family: "Roboto Slab", serif;
    font-size: 16px;
    text-align: center;
}

img {
    width: 200px;
    height: 200px;    
}

.title_bar {
    color: #F1F3F8;
    background-color: #1F567A;
    width: 100%;
}

.title_bar h1 {
    font-size: 48px;
}

.title_bar h4 {
    font-size: 24px;
}

#daily_deals_title h3 {
    font-size: 24px;
}

.new_products, #daily_deals_title {
    font-size: 24px;
}

.footer_links{
    height: 96px;
    background-color: #1F567A;
    word-spacing: 10px;
}

.footer_links a {
    font-size: 24px;
    color:#F1F3F8;
}

.top_sellers {
    text-align: center;
}

/* Screen size adjustments */

@media only screen and (max-width: 1200px) {
    .container {
        width: 75%;
    }
}

@media only screen and (max-width: 768px) {
    .container {
        width: 50%;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(6, 200px);
        grid-gap: 20px;
    }
}

@media only screen and (max-width: 320px) {
    .container {
        width: 25%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(6, 200px);
        grid-gap: 20px;
    }
}