body {
    background-color: white;
}
h1, h2, h3 {
    font-family: "Raleway", sans-serif;
    text-align: center;
}
h2, h3 {
    color: #1F567A;
}
p {
    font-family: "Roboto SLab", serif;
}
.top_bar {
    font-size:48px;
    color: #F1F3F8;
    background-color: #1F567A;
}
.footer_links{
    height: 48px;
    background-color: #1F567A;
}
.footer_links a {
    font-size: 16px;
    color:#F1F3F8;
}