/* Grid Classes */

.container {
    width: 1920px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6, 200px);
    grid-gap: 20px;
}

.title_container {
    grid-column: 1 / -1;
    grid-row: 1;
}

.new_products_container {
    display: grid;
    grid-template-areas: repeat(2, 200px) / repeat(3, 1fr);
    grid-column: 1 / -1;
    grid-row: 2;
}

.new_products_container h3 {
    grid-column: 2;
}

.new_rpg_container {
    grid-column: 1;
}

.new_bg_container {
    grid-column: 2;
}

.new_ccg_container {
    grid-column: 3;
}

.footer_container {
    grid-column: 1 / -1;
    grid-row-start: 6;
}

/* Formating Classes */

body {
    background-color: white;
    margin: 0 40px;
}

h1, h2, h3, h4 {
    font-family: "Raleway", sans-serif;
    text-align: center;
}

h2, h3 {
    color: #1F567A;
}
p {
    font-family: "Roboto Slab", serif;
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
}

img {
    width: 200px;
    height: 200px;    
}

.title_bar {
    color: #F1F3F8;
    background-color: #1F567A
}

.title_bar h1 {
    font-size: 48px;
}

.title_bar h4 {
    font-size: 24px;
}

.new_rpg_products {
    text-align: center;
}

.new_bg_products {
    text-align: center;
}

.new_ccg_products {
    text-align: center;
}

.footer_links{
    height: 48px;
    background-color: #1F567A;
}

.footer_links a {
    font-size: 16px;
    color:#F1F3F8;
}

.top_sellers {
    text-align: center;
}