body {
    background-color: white;
    display: grid;
}
h1, h2, h3, h4 {
    font-family: "Raleway", sans-serif;
    text-align: center;
}
h2, h3 {
    color: #1F567A;
}
p {
    font-family: "Roboto SLab", serif;
}
img {
    text-align: center;
    width: 200px;
    height: 200px;
}
.top_bar {
    color: #F1F3F8;
    background-color: #1F567A;
}
.top_bar h1 {
    font-size:48px;
}
.top_bar h4 {
    font-size:24px;
}
.footer_links{
    height: 48px;
    background-color: #1F567A;
}
.footer_links a {
    font-size: 16px;
    color:#F1F3F8;
}
.top_sellers {
    text-align: center;
}